{% extends "layout_admin_panel.html" %}
{% block body %}

<!-- title,author,ref_no,image,document -->
<div class="container-fluid">
    <div class="container mt-5">
        <h3 class="h3 text-primary">Add Publication : </h3>
        <hr>
        <form action="/add-publication" method="POST" class="col-8 mx-auto" id="publicationForm" enctype="multipart/form-data">
                <div class="form-group">
                    <lable for="title">Title</lable>
                    <input type="text" id="title" class="form-control" name="title" placeholder="Enter the publication Title"/>
                </div>
                <div class="form-group">
                    <lable for="author">Authors</lable>
                    <input type="text" id="author" class="form-control" name="author" placeholder="Enter the Authors"/>
                </div>
                <div class="form-group">
                    <lable for="ref_no">Referance Number</lable>
                    <input type="text" id="ref_no" class="form-control" name="ref_no" placeholder="Enter the Referance Title"/>
                </div>
                <div class="row">
                    <div class="col">
                    <h3 class="mt-3 text-danger">Image : </h3>
                    <div class=" form-group">
                        <div class="custom-file">
                            <label class="custom-file-label" for="publicationImg">Choose Image</label>
                            <input type="file" name="image" id="publicationImg" class="custom-file-input">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h3 class="mt-3 text-danger">Document : </h3>
                    <div class=" form-group">
                        <div class="custom-file">
                            <label class="custom-file-label" for="publicationDoc">Choose Document</label>
                            <input type="file" name="document" id="publicationDoc" class="custom-file-input">
                        </div>
                    </div>
                </div>
            </div>
            
        </form>   
        <button class="btn btn-primary" onclick="check_input()" id="publicationSubmit">Add Publication</button>
        <input type="reset" name="reset" form="publicationForm" class="btn btn-info" value="Clear"/>
    </div>

    <div class="container mt-5">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Title</th>
                <th scope="col" style="width:250px">Image</th>
                <th scope="col" style="width:150px">Action</th>
              </tr>
            </thead>
            
            </form>
            <tbody>
                {% set count = 1 %}
                {% for item in publications %}
                <form action="" id="{{"deletePublication"+item.id|string}}"></form>
                <tr>
                    <td>{{count}}</td>
                    <td class="text-center align-middle h4">{{item.title}}</td>
                    <td><img src="{{item.image}}" class="img-thumbnail w-100 h-auto" alt=""></td>
                    <td class="align-middle">
                        <div class="row">
                            <button class="btn btn-primary col mx-2">Edit</button>
                            <button class="btn btn-danger col" form="deletePublication">Delete</button>
                        </div>
                    </td>
                </tr>
                {% set count = count + 1 %}
                {% endfor %}
                

            </tbody>
          </table>
          
          
    </div>

</div>






{% endblock %}