<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="/static/css/dashboard.css">
<style>
	* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  .nav-item:hover{
    font-weight: bold;
}
</style>
    <title>Dashboard</title>
</head>
<body>
	<section>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand text-primary font-weight-bold" href="#">BIPLABCHEM ADMIN</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse " id="navbarSupportedContent">
			  <ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Profile <span class="sr-only">(current)</span></a>
				  </li>
				<li class="nav-item active">
				  <a class="nav-link" href="/education">Education <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/publication">Publication <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" href="/cover_photo">CoverPhoto <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" href="/gallery">Gallery<span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item active">
					<a class="nav-link" href="/research">Research<span class="sr-only">(current)</span></a>
				  </li>
				<li class="nav-item active">
					<a class="nav-link" href="/logout">Log Out <span class="sr-only">(current)</span></a>
				  </li>
			  </ul>
			  
			</div>
		  </nav>
    </section>
    
{% block body%}
  <!-- main content goes here -->
{% endblock %}



	<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="/static/js/admin_panel.js"></script>
	
	
	<!-- ekhana de -->
	<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script> 
	<script>  
		CKEDITOR.replace('description');  
		// CKEDITOR.replace('editor2');  
	  
		function getData() {  
			//Get data written in first Editor   
			var editor_data = CKEDITOR.instances['description'].getData();  
			//Set data in Second Editor which is written in first Editor  
			// CKEDITOR.instances['editor2'].setData(editor_data);  
			// console.log(editor_data);
		}  
	</script>  
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
		</script>
		<script>
			// Add the following code if you want the name of the file appear on select
			$(".custom-file-input").on("change", function() {
			  var fileName = $(this).val().split("\\").pop();
			  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
			});
			</script>
    </body>
    </html>